name: CI with Docker and SonarCloud

on:
  push:
    brunches:
    - dev

  workflow_dispatch:

jobs:
 
  Build_Scan_Test:
    runs-on: ubuntu-latest

    steps:
    - name: Check out
      uses: actions/checkout@v3
    # - name: Analyze with SonarCloud
    #   uses: javiertuya/sonarqube-action@v1.1.1
    #   with:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    #     working-directory: /home/runner/work/hello-world-war/hello-world-war/
    - name: Build the Docker Image
      run: docker build -t .   
    - name: Run & Test Container
      run: docker run -itd --name node_hello -p 8080:8080  hello-world-war:latest
    - run: sleep 5 && curl localhost:8080/hello-world-war-1.0.0
    - name: Retagging the Image 
      run: docker tag hello-world-war:latest ddriham/hello-world-war:latest
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: docker push
      run: docker push ddriham/node-hello:latest
